.about {
  &__inner {
    padding-bottom: 100px;
  }
  &__title {
    margin-bottom: 35px;
  }
  &__paragraph {
    margin-bottom: 60px;

    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.38px;
    &--small {
      margin: 35px 0;
      max-width: 540px;
    }
  }
  &__img {
    width: 100%;
    max-height: 290px;
  }
  &__box {
    position: relative;
  }
  &__contact {
    position: absolute;

    right: 125px;
    top: -200px;
    padding: 25px;
    max-width: 400px;
    width: 100%;
    background: #181818;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__item-title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 6px;

    color: #7e7c7c;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  &__item-text,
  &__item-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.38px;

    color: #6d6d6d;

    transition: color, 0.45s;
  }
  &__item-link {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 25%;
      height: 1px;

      background-color: #faf4e6;
      opacity: 0.4;
      transition: all, 0.45s;
    }
    &:hover::before {
      opacity: 1;
      width: 100%;
    }
    &:hover {
      color: #faf4e6;
    }
  }

  &__fio {
    font-family: "Artifika", serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 97px;
    letter-spacing: 1.7px;

    color: #faf4e6;
  }
}
// media
@media (max-width: 1100px) {
  .about__contact {
    right: 1%;
  }
}
@media (max-width: 1000px) {
  .about__img {
    min-height: 200px;
  }
  .about__contact {
    top: -300px;
  }
  .about__paragraph--small {
    max-width: 100%;
    margin-top: 100px;
  }
}
@media (max-width: 700px) {
  .about__contact {
    left: 0;
    right: auto;
    min-width: 50%;
  }
  .about__paragraph--small {
    max-width: 100%;
    margin-top: 235px;
  }
}
@media (max-width: 500px) {
  .about__contact {
    right: 0;
    min-width: 100%;
  }
}
